rpizero2.{$TAILNET}.ts.net {
    redir /gatus* https://rpizero2.{$TAILNET}.ts.net:8080
    redir /ntfy*  https://rpizero2.{$TAILNET}.ts.net:2586
}

rpizero2.{$TAILNET}.ts.net:8080 {
    reverse_proxy gatus:8080
}

rpizero2.{$TAILNET}.ts.net:2586 {
    reverse_proxy ntfy:80
}
